header {
  padding: var(--padding-lg);
  display: grid;
  & .first-info {
    padding: 0;

    & img {
      width: 7.5rem;
      height: 7.5rem;
    }

    & h1 {
      font: var(--text-lg);
      color: var(--text-color-primary);
    }

    & p {
      font: var(--text-md);
      margin-top: .5rem;
    }
  }

  & .second-info {
    margin-top: 2rem;

    & ul {
      display: grid;
      gap: 1rem;

      & li {
        display: flex;
        gap: .5rem;
        align-items: center;
      }
    }
  }
}

@media (width >= 80em) {
  header {
    display: flex;
    justify-content: space-between;

    & .first-info {
      display: grid;
      grid-template-columns: 1fr 100%;
      gap: 2rem;

      & img {
        width: 11rem;
        height: 11rem;
      }

      & .info {
        max-width: 24rem;
      }
    }

    & .second-info {
      width: 17.5rem;
    }
  }
}
