main {
  padding: var(--padding-sm);
  display: grid;
  gap: 1rem;
  justify-content: center;
}

main img {
  max-width: 20.5rem;
  max-height: 20.5rem;
  object-fit: cover;
}

@media (width >=80em) {
  main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 1.5rem;
    padding: 1.5rem 2rem;
  }

  main img {
    max-width: 17.875rem;
    max-height: 17.875rem;
  }
}
