nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm);

  & img:last-child {
    max-width: 2.5rem;
  }
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (width >=80em) {
  nav {
    padding: 1.25rem var(--padding-lg);
  }
}